.lista-livros {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 20px;
    box-sizing: border-box;
}

.card-livro{
    height: 360px;
    width: 100%;
    max-width: 250px;
    background-color: #EEEEEE;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(136, 134, 132, 0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}

.card-livro div img {
    width: 100%;
    height: auto;
    max-height: 250px;
    margin-top: 10px;
    border-radius: 1rem 1rem 0 0;
}

.card-livro strong {
    font-size: 18px;
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Esconde o conteúdo extra */
    text-overflow: ellipsis; /* Adiciona "..." para indicar truncamento */
    display: inline-block;
    width: 100%;
    position: relative;
    /* text-align: center; */
}


.card-livro a {
    /* position: absolute; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-decoration: none;
    left: 13px;
    right: 13px;
    border-radius: 10px;
    background-color: #DC5F00;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 0.5rem;
    margin-top: 10px;
}

.card-livro:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(136, 134, 132, 0.7);
}

@media (max-width: 768px) {
    .card-livro {
        height: auto; /* Ajusta a altura para caber o conteúdo */
        max-width: 100%; /* Permite cartões maiores em telas pequenas */
    }

    .card-livro div img {
        max-height: 200px; /* Reduz o tamanho da imagem em telas menores */
    }
}

@media (max-width: 480px) {
    .lista-livros {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cartões menores para telas muito pequenas */
    }

    .card-livro {
        height: auto;
    }
}